@import "./../shared/styles.scss";
@import "./components/LoginForm/LoginForm.scss";

.login {
  background: linear-gradient(223deg, #37abbd, #191b1c);
  background-size: 400% 400%;

  -webkit-animation: EventaAnimation 30s ease infinite;
  -moz-animation: EventaAnimation 30s ease infinite;
  -o-animation: EventaAnimation 30s ease infinite;
  animation: EventaAnimation 30s ease infinite;

  padding: 10vh 0;
  min-height: 100vh;

  &__title{
    color: #ffffff;
    text-align: center;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    font-size: 22px;
    padding: .5rem 0;
  }

  &__logo{
    width: 150px;
    filter: brightness(0) invert(1);
  }

  &__help_text {
    color: #ffffff;

    a {
      color: #ffffff;
      text-decoration: underline;
    }
  }
}