@import "./../shared/styles.scss";
@import "./components/CollectionTable/CollectionTable.scss";
@import "./components/CollectionModal/CollectionModal.scss";

.categories {
  &__title {
    color: #212121;
    font-size: 22px;
    font-weight: 300;
    span {
      font-size: 28px;
      //font-weight: bold;
    }
  }
}
