@import "./../../shared/styles.scss";
@import "./components/ProductInformation/ProductInformation.scss";
@import "./components/ImagesTable/ImagesTable.scss";
@import "./components/ProductVariantsTable/ProductVariantsTable.scss";
@import "./components/ProductModal/ProductModal.scss";
@import "./components/ProductVariantModal/ProductVariantModal.scss";

.product {
  &__title {
    color: #212121;
    font-size: 22px;
    font-weight: 300;
    span {
      font-size: 28px;
      //font-weight: bold;
    }
  }
}
