@import "./../shared/styles.scss";
// OrdersTable component
@import "./components/CustomersTable/CustomersTable.scss";

.customers {
  &__title {
    color: #212121;
    font-size: 22px;
    font-weight: 300;
    span {
      font-size: 28px;
      //font-weight: bold;
    }
  }
}
